<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://hermes.dio.me/articles/cover/723b0b36-3bde-4e84-9a69-027472be98c4.png"
      alt=""
      height="200px"
      width="396"
      srcset=""
    />
  </div>

  <div class="big-card__title">
    <h1>Saiu a nova versão do angular</h1>
  </div>

  <div class="big-card__description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptate officiis numquam officia sint quae veritatis aliquam optio iure unde placeat consectetur eligendi dignissimos, molestias nostrum odio voluptatibus fuga dolores.</p>
  </div>
</div>
