<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://conteudo.imguol.com.br/c/noticias/d9/2024/03/14/presidente-lula-1710439534227_v2_900x506.jpg"

      cardTitle="Lula se pronuncia sobre o esquema Lava Jato"

      cardDescription="O presidente Lula confirma participação no esquema e ainda cita envolvidos..."
    ></app-big-card >
  </div>

  <div class="articles__others">

    <app-small-card
    smallPhoto="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZxEfOl8H7ARzpwrCgR-EeG4F_lM0n-7YK6Q&usqp=CAU"
    smallTitle="Bitcoin Atinge Novos Patamares de preço"
  > </app-small-card>

    <app-small-card
      smallPhoto="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3q-Iry70s0bKQJoy69QFeS56YPBA0rnPgyw&usqp=CAU"
      smallTitle="Novo filme da Marvel lançado no metaverso"
    > </app-small-card>

  </div>
</div>
